<div class="container">
  <ea-query-simp #eaQuery [node]="queryNode" (onSubmit)="querySubmit($event)"></ea-query-simp>

  <div [style.float]="'right'">
    <nz-button-group>
      <button (click)="operExamine()" nz-button nzType="primary" *ngIf="!showExamine">审核事件</button>
      <button nz-button nzType="primary" *ngIf="showExamine" (click)="batchStatus('1')">通过</button>
      <button nz-button *ngIf="showExamine" (click)="batchStatus('2')">不通过</button>
      <button (click)="showExamine = false" nz-button *ngIf="showExamine">取消</button>
    </nz-button-group>
  </div>

</div>

<div class="content">
  <nz-radio-group [(ngModel)]="selectValue" style="width:100%;">
    <nz-list [nzDataSource]="dataSet" nzItemLayout="horizontal" [nzLoading]="loading" [nzPagination]="pagination"
      [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item *ngIf="!showExamine || (showExamine )" [nzActions]="[editAction]">
          <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
            <ng-template #editAction>
              <ng-container *ngIf="showExamine">
                <label nz-radio [nzDisabled]="item.status != 0"  [nzValue]="item.id"></label>
              </ng-container>
            </ng-template>
            <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="item.eventIcon" [nzDescription]="item.showTime">
              <ng-template #nzTitle>
                <h2>
                  {{ item.curriculumInfo }}
                  <b [ngClass]="['status', 's' + item.status]">
                    （{{ item.status == 0 ? '未审核' : item.status == 1 ? '审核通过' : item.status == 2 ? '审核未通过' : '--' }}）
                  </b>
                  <span class="name">{{ item.employeeName ? item.employeeName : '系统' }} 为 {{ item.memberName }}
                    添加</span>
                </h2>
                <span class="contentI" *ngIf="item.type == 0">身高：{{ item.height }}cm  ----  体重：{{ item.weight }}kg</span>
                <div *ngIf="item.imgUrls&&item.type == 1"><a (click)="previewUrl(item.imgUrls[0])">点击查看视频</a></div>
                <div *ngIf="item.imgUrls&&item.type == 4"><a (click)="previewUrl('http://wx.haochengzhang.com/ylbb-activity-yeqsappErp/?memberId='+ item.memberId +'&templateId='+ item.courseFeedbackRecordId +'&isEdit=0')">点击查看月报</a></div>

                <div *ngIf="item.imgUrls&&item.type == 2">
                  <ng-container *ngFor="let item of item.imgUrls">
                    <a (click)="previewUrl(item)">
                      <nz-avatar style="margin-right: 12px;" nzIcon="user" nzSize="large" nzShape="square" [nzSrc]="item">
                      </nz-avatar>
                    </a>
                  </ng-container>
                </div>
                <div class="creat_time">
                    {{ item.createTime }}
                </div>
              </ng-template>
            </nz-list-item-meta>
          </nz-skeleton>
        </nz-list-item>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="pageNum" [nzTotal]="totalPage"
          [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="loadData($event)"></nz-pagination>
        <ng-template #rangeTemplate let-range="range" let-total>
          共 {{ total }} 条
        </ng-template>
      </ng-template>
    </nz-list>
  </nz-radio-group>
</div>